/* -------------------------------------------------------------------------- */
/*                                Start Landing                               */
/* -------------------------------------------------------------------------- */
.landing {
  overflow: hidden;
  border-radius: 0 0 24px 24px;
  height: 100vh;
}
.landing img {
  width: 100%;
}
@media (max-width: 1024px) and (min-height: 1366px) {
  .landing {
    height: 40vh;
  }
}
@media (max-width: 820px) {
  .landing {
    height: 50vh;
  }
}
@media (min-width: 400px) and (max-height: 600px) {
  .landing {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .landing {
    height: 40vh;
    padding-top: 70px;
  }
}
@media (min-width: 1400px) {
  .landing {
    height: 100vh;
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--main-color);
}
.swiper-pagination-bullet {
  opacity: 1;
  background: #3ba96e;
}
.swiper-pagination-bullet-active {
  background: var(--main-color);
}
